<nav class="nav">
    <a href="/">Home</a>
    <a href="/weather">Weather</a>
    <a href="/notes/index">Notes</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    {{#if isAuthenticated}}
        <a href="/logout">Logout</a>
    {{else}}
        <a href="/login">Login</a>
    {{/if}}
</nav>
